In [4]:
import numpy as np

In [5]:
import pandas as pd

In [14]:
df = pd.read_excel("data.xlsx", name="工作表")

In [20]:
df.loc[2]

2019年上汽安吉物流团干部、高潜青年培训班                          1
Unnamed: 1                                    祁志远
Unnamed: 2                                      男
Unnamed: 3                               19910303
Unnamed: 4                                     团员
Unnamed: 5                                   信息支部
Unnamed: 6                                  开发工程师
Unnamed: 7                                    NaN
Unnamed: 8                                2018.05
Unnamed: 9                             qzy9910303
Unnamed: 10                           18810092406
Unnamed: 11               qizhiyuan@anji-plus.com
Name: 2, dtype: object

In [22]:
df = pd.DataFrame(np.random.rand(3,5), columns=["A", "B", "C", "D", "E"])

In [23]:
df

          A         B         C         D         E
0  0.753162  0.968578  0.571220  0.174999  0.112033
1  0.439728  0.073971  0.141270  0.175797  0.590569
2  0.251569  0.747076  0.280472  0.451062  0.552837

In [26]:
df.loc[0]

A    0.753162
B    0.968578
C    0.571220
D    0.174999
E    0.112033
Name: 0, dtype: float64

In [27]:
df["A"]

0    0.753162
1    0.439728
2    0.251569
Name: A, dtype: float64

In [39]:
df.B

0    0.968578
1    0.073971
2    0.747076
Name: B, dtype: float64