In [1]:
str(124214)

'124214'

In [2]:
a = "2018-06-02 12:23:33"

In [4]:
import datetime

In [8]:
import pandas

In [15]:
formate = "%Y-%m-%d %H:%M:%S"

In [16]:
datetime.datetime.strptime(a, formate)

datetime.datetime(2018, 6, 2, 12, 23, 33)

In [12]:
import time

In [18]:
dd = time.strptime(a, formate)
dd

time.struct_time(tm_year=2018, tm_mon=6, tm_mday=2, tm_hour=12, tm_min=23, tm_sec=33, tm_wday=5, tm_yday=153, tm_isdst=-1)

In [33]:
time.mktime(dd)

1527913413.0

In [34]:
df = pandas.read_excel("data.xlsx")
df

,序号,姓名,性别,出生年月,政治面貌,部门,岗位,团内职务,入职时间,微信号,联系电话,邮箱地址
0,1,祁志远,男,19910303.0,团员,信息支部,开发工程师,NaN,2018.05,qzy9910303,1.881009e+10,qizhiyuan@anji-plus.com
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.mean()

序号      1.050000e+01
出生年月    1.991030e+07
团内职务             NaN
入职时间    2.018050e+03
联系电话    1.881009e+10
dtype: float64

变换和排序

In [36]:
df.columns

Index(['序号', '姓名', '性别', '出生年月', '政治面貌', '部门', '岗位', '团内职务', '入职时间', '微信号',
       '联系电话', '邮箱地址'],
      dtype='object')

In [39]:
for i in df.head():
    print(i)

序号
姓名
性别
出生年月
政治面貌
部门
岗位
团内职务
入职时间
微信号
联系电话
邮箱地址

In [40]:
df.head()["姓名"]

0    祁志远
1    NaN
2    NaN
3    NaN
4    NaN
Name: 姓名, dtype: object

In [47]:
import matplotlib.pyplot as plt
import collections

In [51]:
c = collections.Counter(df["出生年月"])

# plt.pie(c)

Counter({19910303.0: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1})